body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3rem;
    color: '#555';
    font-weight: 100;
}

table {
    margin-top: 2rem;
}

.material-symbols-outlined {
    color:rgb(102, 99, 99);
    font-size: 0.9rem;
    float: right;
    padding: 0 0.2rem;
}
td.value {
    text-align: right;
}

button {
    color: white;
    background-color: darkgreen;
    border: none;
    padding: 0.2rem;
    border-radius: 3px;
}